#img-bg{
  background-image: url("https://upload.wikimedia.org/wikipedia/pt/6/6b/Domingo_Legal.png");
  min-height: 695px;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
